<div class="App">
  <div class="Header">
    TS-Qlik Application
  </div>
  <div *ngIf="qlik" class="Content">
    <div class="tabs">
      <div (click)="changeTab('qlik')" [ngClass]="{'active': active == 'qlik'}" class="tab">TSQlik function</div>
      <div (click)="changeTab('app')" [ngClass]="{'active': active == 'app'}" class="tab">OpenApp function</div>
    </div>
    <div *ngIf="active === 'qlik'" class="Qlik">
      <div class="directoryName">Directory: {{qlik.qlikUser.directory}}</div>
      <div class="userName">UserName: {{qlik.qlikUser.userid}}</div>
    </div>
    <div *ngIf="active === 'app'" class="OpenApp">
      <div id="obj1" class="object"></div>
      <div id="obj2" class="object"></div>
    </div>
  </div>

  <div *ngIf="!qlik" class="Content">
    <div class="qlikBtn">
      <button (click)="callQlikFn()">Call Qlik</button>
    </div>
  </div>
</div>
