.App {
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .Header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
  }
  
  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
    flex: 0 0 50px;
    display: flex;
  }
  
  .tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: #ccc;
    font-weight: bold;
  }
  
  .qlikBtn {
    padding-top: 13px;
    display: block;
    right: 20px;
    position: absolute;
  }
  
  .qlikBtn button {
    vertical-align: middle;
    height: 28px;
    min-width: 44px;
    padding: 0 16px;
    border: 1px solid transparent;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    line-height: 24px;
    position: relative;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 3px;
    color: #595959;
    background-color: transparent;
    border-color: #B3B3B3;
    transition: border-color 200ms ease-out;
  }
  
  .Qlik,
  .OpenApp {
    display: flex;
    flex: 1;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .Qlik div{
    padding: 10px;
  }
  
  .object{
    flex: 1;
    height: 100%;
  }